@section title{
    Gamers List Page
}
@section scripts{
    @Html.Partial("DefineAngular")
    <script>
        System.import('app/bootgamer');
    </script>
}
<gamer class="gamercontent">
    <div class="waitloading">
        loading...
    </div>
</gamer>