<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  <authenticationProviders>
    <providers>
      <add name="Facebook" key="1897564510513837" secret="fe43d135f48f5793f2364e3c5fc2d79b" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="GitHub" key="e65ccffb4638d1290df4" secret="7e146b5ea8d6580775c917639b76724f7acc7160" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="Google" key="253340476669-r0klnrl0j1b6q4ik7dfcuf5j0l9berr5.apps.googleusercontent.com" secret="zUWFhySkvTB79N7mSjSkEpbM" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </providers>
  </authenticationProviders>
</configuration>