
<div *ngIf="gameTable">
    <h2>STÓŁ</h2>
    
    Twórca {{ gameTable.GamerNick }}
    <div *ngIf="gameTable.TableBoardGameList">
        Wybrane pozycje:
        <ul>
            <li *ngFor="let boardGame of gameTable.TableBoardGameList">
                <span>{{boardGame.BoardGameName}}</span>
                <button (click)="delete(boardGame); $event.stopPropagation()" class="delete-icon">x</button>
            </li>
        </ul>
    </div>
    
    <div hidden>
        {{ gameTable.Id }}
    </div>
    <table>
        <tr>
            <td><label>Gra: </label></td>
            <td></td>
        </tr>
        <tr>
            <td><label>Miasto: </label></td>
            <td><input [(ngModel)]="gameTable.City"/></td>
        </tr>
        <tr>
            <td><label>Ulica: </label></td>
            <td><input [(ngModel)]="gameTable.Street"/></td>
        </tr>
        <tr>
            <td><label>Prywatny: </label></td>
            <td><input [(ngModel)]="gameTable.IsPrivate" type="checkbox" /></td>
        </tr>
    </table>

    <p>
        <button (click)="goBack()">Powrót</button>
        <button (click)="save()">Zapisz</button>
    </p>
</div>