<h2>Nowy stół do gry</h2>
<div *ngIf="gameTable.gamerBoardGames?.length > 0">
    <table>
        <tr>
            <td><label>Gra:</label></td>
            <td>
                <select #boardGameId (change)="selectBoardGame(boardGame.value)" >
                    <option *ngFor="let gamerBoardGame of gameTable.gamerBoardGames"
                            [value]="gamerBoardGame.BoardGameId">
                        {{gamerBoardGame.BoardGameName}}
                    </option>
                </select>
                <br />
            </td>
        </tr>
        <tr>
            <td><label>Liczba graczy:</label></td>
            <td><input #playersNumber /></td>
        </tr>
        <tr>
            <td><label>Miasto:</label></td>
            <td><input #city /></td>
        </tr>
        <tr>
            <td><label>Ulica:</label></td>
            <td><input #street /></td>
        </tr>
        <tr>
            <td><label>Prywatny:</label></td>
            <td><input #IsPrivate type="checkbox" /></td>
        </tr>
    </table>
    <br />
    <button (click)="goBack()">Powrót</button>
    <button (click)="add(boardGameId.value, playersNumber.value, city.value, street.value, isPrivate.value);
    boardGameId.value=''; surname.value=''; playersNumber.value='';city.value='';street.value='';isPrivate.value='';">
        Dodaj
    </button>
</div>
<div *ngIf="gameTable.gamerBoardGames?.length == 0">
    Brak dostępnych gier do utworzenia stołu
</div>