@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<span class="font-weight-bold text-danger">Error.</span>
<span class="font-weight-bold text-danger">An error occurred while processing your request.</span>

