<label for="login">Login</label>
<input type="text" class="form-control" id="login"
       required
       [(ngModel)]="user.login" login="login"
       #login="ngModel">
<div [hidden]="login.valid || login.pristine"
     class="alert alert-danger">
    Login jest wymagany
</div>
<label for="password">Hasło</label>
<input type="text" class="form-control" id="password"
       required
       [(ngModel)]="user.password" password="password"
       #password="ngModel">
<div [hidden]="password.valid || password.pristine"
     class="alert alert-danger">
    Hasło jest wymagane
</div>