/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.delete-icon {
    cursor: pointer;
}

.form-control-feedback {
    color: #a94442;
}

.footer {
    position: fixed;
    bottom: 0;
    color: gray;
    font-size: small;
    text-align: left;
    display: flex;
    padding: 10px;
    border-top: 1px solid #e9ecef;
}

.footer a {
    color: gray;
    text-decoration: underline;
}