<div *ngIf="boardGame">
    <h2>Gra</h2>
    <h3>"{{ boardGame.Name }}"</h3>
    <div hidden>
        <label>Id: </label>{{ boardGame.Id }}
    </div>
    <table>
        <tr>
            <td><label>Minimalna liczba graczy: </label></td>
            <td><input [(ngModel)]="boardGame.MinPlayers" /></td>
        </tr>
        <tr>
            <td><label>Maksymalna liczba graczy: </label></td>
            <td><input [(ngModel)]="boardGame.MaxPlayers" /></td>
        </tr>
        <tr></tr>
        <tr>
            <td><label>Maksymalny czas gry: </label></td>
            <td><input [(ngModel)]="boardGame.MaxTime" /></td>
        </tr>
    </table>
    <br />
    <p>
        <button class="btn btn-default" (click)="goBack()">Powrót</button>
        <button class="btn btn-success" (click)="save()">Zapisz</button>
    </p>
</div>