<h3>NOWA GRA</h3>
<div *ngIf="boardGameNotFound; then bgNotFound else bgFound"></div>

<ng-template #bgFound>
    <table>
        <tr>
            <td>
                <label>Nazwa:</label>
            </td>
            <td>
                <input #name/>
            </td>
        </tr>
    </table>

    <br/>

    <button class="btn btn-default" (click)="goBack()">Powrót</button>
    <button class="btn btn-success" (click)="add(name.value);
            name.value='';">
        Dodaj
    </button>
    <br/>
</ng-template>

<ng-template #bgNotFound>
Czy chodziło Ci o:
<ul>
    <li *ngFor="let similarBoardGame of similarBoardGames">
        <span>
            <a href="https://boardgamegeek.com/boardgame/{{similarBoardGame.Id}}" target="_blank">
                {{ similarBoardGame.Name }}
            </a>
        </span>
        <button class="btn btn-success" (click)="onSelect(similarBoardGame)">Wybierz</button>
    </li>
</ul>
<ng-template>