<h2>Nowa gra</h2>
<div *ngIf="!boardGameNotFound">
    <table>
        <tr>
            <td><label>Nazwa:</label></td>
            <td><input #name /></td>
        </tr>
    </table>

    <br />

    <button (click)="goBack()">Powrót</button>
    <button (click)="add(name.value);
            name.value='';">
        Dodaj
    </button>
</div>

<br/>

<div *ngIf="boardGameNotFound">
    Czy chodziło Ci o:
    <ul>
        <li *ngFor="let similarBoardGame of similarBoardGames">
            <span>
                <a href="https://boardgamegeek.com/boardgame/{{similarBoardGame.Id}}" target="_blank">
                    {{ similarBoardGame.Name }}
                </a>
            </span>
            <button (click)="onSelect(similarBoardGame)">wybierz</button>
        </li>
    </ul>
</div>