<span class="font-weight-bold">NOWA GRA</span>
<div *ngIf="boardGameNotFound; then bgNotFound else bgFound"></div>

<ng-template #bgFound>
    <form class="col-md-8" (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name">Nazwa</label>
            <div class="col-md-4">
                <input class="form-control" type="text" id="name" name="name" 
                       [(ngModel)]="name" #nameCtrl="ngModel" required/>
                <span class="form-control-feedback" *ngIf="nameCtrl.invalid && nameCtrl.touched">
                    Podaj nazwę!
                </span>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-default" (click)="goBack()">
                Powrót
            </button>
            <button class="btn btn-success" type="submit" [disabled]="form.invalid">
                Dodaj
            </button>
        </div>
    </form>
</ng-template>

<ng-template #bgNotFound>
    <div>
        <span>Czy chodziło Ci o:</span>
        <ul>
            <li *ngFor="let similarBoardGame of similarBoardGames" class="form-group row">
                <a class="col-md-4 col-form-label" href="https://boardgamegeek.com/boardgame/{{similarBoardGame.Id}}" target="_blank">
                    {{ similarBoardGame.Name }}
                </a>
                <div class="col-md-4">
                    <button class="btn btn-success" (click)="onSelect(similarBoardGame)">
                        Wybierz
                    </button>
                </div>
            </li>
        </ul>
    </div>
    
</ng-template>