<div class="text-center">
    <h2>Zaloguj się za pomocą konta:</h2>
    <div>
        <div>
            Facebook
        </div>
        <a href="/authentication/redirect/facebook">
            <img src="/Content/images/facebok64.png" />
        </a>
    </div>
    <div>
        <div>
            Google
        </div>
        <a href="/authentication/redirect/google">
            <img src="/Content/images/google64.png" />
        </a>
    </div>
    <div>
        <div>
            GitHub
        </div>
        <a href="/authentication/redirect/github">
            <img src="/Content/images/github64.png" />
        </a>
    </div>
</div>