<!--<label>Login</label>
<input type="text" class="form-control" required #login />

<div [hidden]="login.valid || login.pristine"
     class="alert alert-danger">
    Login jest wymagany
</div>

<label>Hasło</label>
<input type="text" class="form-control" required #password />

<div [hidden]="password.valid || password.pristine"
     class="alert alert-danger">
    Hasło jest wymagane
</div>

<button (click)="registerAction(login.value, password.value);
            login.value=''; password=''">
    Zarejestruj
</button>-->

<form #registerForm="ngModel">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" ngControl="login" #loginControl="ngModel" [(ngModel)]="login" id="login" required>
        <div [hidden]="loginControl.valid || !loginControl.errors || !loginControl.errors.required">Login is required</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" ngControl="password" #passwordControl="ngModel" [(ngModel)]="password" id="password" required>
        <div [hidden]="passwordControl.valid || !passwordControl.errors || !passwordControl.errors.required">Password is required</div>
    </div>
    <button class="btn btn-primary" (click)="registerAction(login.value, password.value);">
        Zarejestruj
    </button>
</form>