<h2>LISTA WYNIKÓW</h2>

<br />
<ul>
    <li *ngFor="let gameResult of gameResults" (click)="onSelect(gameResult)">
        <span class="hidden">{{ gameResult.Id }}</span>
        <span>Miejsce: {{ gameResult.Place }}, punkty: {{ gameResult.Points }}, gra: {{ gameResult.BoardGameName }}, gracz: {{ gameResult.GamerNick }}</span>
        <!-- <div *ngIf="isAdmin">
            <button (click)="deactivate(result); $event.stopPropagation()" class="btn delete-icon">x</button>
        </div> -->
    </li>
</ul>

<button class="btn btn-primary" (click)="gotoAdd()">Dodaj nowy wynik</button>

<div *ngIf="selectedGameResult">
    <h2>
        Wynik gracza {{selectedGameResult.GamerNick | uppercase}}
    </h2>
    <button class="btn btn-primary" (click)="gotoDetail()">Szczegóły wyniku</button>
</div>