<h2>Nowy wynik gry</h2>
<table>
    <tr>
        <td><label>Gra:</label></td>
        <td>
                <div *ngIf="availableBoardGames && availableBoardGames.length > 0">
                    <select #selectedBoardGame>
                        <option *ngFor="let boardGame of availableBoardGames"
                                [value]="boardGame.Id">
                            {{boardGame.Name}}
                        </option>
                    </select>                    
                </div>
                <div *ngIf="!availableBoardGames || availableBoardGames.length === 0">
                    Brak dostępnych gier
                </div>
            </td>
    </tr>
    <tr>
        <td><label>Gracz:</label></td>
        <td>
            <div *ngIf="availableGamers && availableGamers.length > 0">
                <select #selectedGamer>
                    <option *ngFor="let gamer of availableGamers"
                            [value]="gamer.Id">
                        {{gamer.Nick}}
                    </option>
                </select>                    
            </div>
            <div *ngIf="!availableGamers || availableGamers.length === 0">
                Brak dostępnych graczy
            </div>
        </td>
    </tr>
    <tr>
        <td><label>Punkty:</label></td>
        <td><input #points /></td>
    </tr>
    <tr>
        <td><label>Miejsce:</label></td>
        <td><input #place /></td>
    </tr>
</table>

<br />

<button class="btn btn-default" (click)="goBack()">Powrót</button>
<button class="btn btn-success" (click)="add(points.value, place.value );
        points.value=''; place.value=''">
    Dodaj
</button>