<h2>Gamer</h2>
<div *ngIf="gamer">
    <h3>"{{ gamer.Nick }}"</h3>
    <div>
        <label>Id: </label>{{ gamer.Id }}
    </div>
    <div>
        <label>Name: </label>
        <input [(ngModel)]="gamer.Name" placeholder="name" />
    </div>
    <div>
        <label>Surname: </label>
        <input [(ngModel)]="gamer.Surname" placeholder="surname" />
    </div>
    <div>
        <label>Age: </label>
        <input [(ngModel)]="gamer.Age" placeholder="age" />
    </div>
    <div>
        <label>City: </label>
        <input [(ngModel)]="gamer.City" placeholder="city" />
    </div>
    <div>
        <label>Street: </label>
        <input [(ngModel)]="gamer.Street" placeholder="street" />
    </div>
    <p>
        <button (click)="goBack()">Back</button>
        <button (click)="save()">Save</button>
    </p>
</div>