<h2>Gamer</h2>
<div *ngIf="gamer">
    <h3>"{{ gamer.Nick }}"</h3>
    <div hidden>
        <label>Id: </label>{{ gamer.Id }}
    </div>
    <table>
        <tr>
            <td><label>Name: </label></td>
            <td><input [(ngModel)]="gamer.Name" placeholder="name" /></td>
        </tr>
        <tr>
            <td><label>Surname: </label></td>
            <td><input [(ngModel)]="gamer.Surname" placeholder="surname" /></td>
        </tr>
        <tr>
            <td><label>Age: </label></td>
            <td><input [(ngModel)]="gamer.Age" placeholder="age" /></td>
        </tr>
        <tr>
            <td><label>City: </label></td>
            <td><input [(ngModel)]="gamer.City" placeholder="city" /></td>
        </tr>
        <tr>
            <td><label>Street: </label></td>
            <td><input [(ngModel)]="gamer.Street" placeholder="street" /></td>
        </tr>
    </table>
    
    <p>
        <button (click)="goBack()">Back</button>
        <button (click)="save()">Save</button>
    </p>
</div>