<div *ngIf="user; then afterLogin else beforeLogin"></div>

<ng-template #afterLogin>
    <div *ngIf="currentGamer?.Id != 'new'; then gamerExists else gamerNotExists"></div>
    <ng-template #gamerExists>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="" style="color: black; font-weight: bold; text-align: center">
                        BoardGamesNook <br />Kącik gier planszowych
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="" routerLink="/gamers" routerLinkActive="active" class="btn btn-info" style="color: black; font-weight: bold">
                                Gracze
                            </a>
                        </li>
                        <li>
                            <a href="" routerLink="/boardGames" routerLinkActive="active" class="btn btn-info" style="color: black; font-weight: bold">
                                Gry
                            </a>
                        </li>
                        <li>
                            <a href="" routerLink="/gamerBoardGames/{{currentGamer?.Nick}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="btn btn-info" style="color: black; font-weight: bold">
                                Moje Gry
                            </a>
                        </li>
                        <li>
                            <a href="" routerLink="/gameResults" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="btn btn-info" style="color: black; font-weight: bold">
                                Wyniki
                            </a>
                        </li>
                        <li>
                            <a href="" routerLink="/gameResults/{{currentGamer?.Nick}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="btn btn-info" style="color: black; font-weight: bold">
                                Moje Wyniki
                            </a>
                        </li>
                        <li>
                            <a href="" routerLink="/gameTables" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-info" style="color: black; font-weight: bold">
                                Stoły do gier
                            </a>
                        </li>
                        <li>
                            <a href="" routerLink="/gameTables/{{currentGamer?.Nick}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="btn btn-info" style="color: black; font-weight: bold">
                                Moje stoły do gier
                            </a>
                        </li>
                        <li>
                            <a href="" routerLink="/about" routerLinkActive="active" class="btn btn-default" style="color: black; font-weight: bold">
                                O stronie
                            </a>
                        </li>
                    </ul>
                    <div class="nav navbar navbar-right">
                        Witaj <b>
                            <a href="" routerLink="/gamers/{{currentGamer?.Nick}}" routerLinkActive="active" style="color: black; font-weight: bold">
                                {{user.Name}}
                            </a>
                        </b>
                        <img src="{{ user.ImageUrl }}" height="50" width="50" />
                        <button class="btn btn-default" (click)="logOut()">Wyloguj</button>
                    </div>
                </div>
            </div>
        </nav>
    </ng-template>
    <ng-template #gamerNotExists>
        <nav class="navbar" style="margin: 5px">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="" style="color: black; font-weight: bold; text-align: center">
                        BoardGamesNook <br />Kącik gier planszowych
                    </a>
                </div>
            </div>
        </nav>
    </ng-template>
</ng-template>
<ng-template #beforeLogin>
    <div *ngIf="!user">
        <nav class="navbar" style="margin: 5px">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="" style="color: black; font-weight: bold; text-align: center">
                        BoardGamesNook <br />Kącik gier planszowych
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="" routerLink="/about" routerLinkActive="active" class="btn btn-default" style="color: black; font-weight: bold">
                                O stronie
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-center">
            <h2>Zaloguj się za pomocą konta:</h2>
            <div>
                <div>
                    Facebook
                </div>
                <a href="/authentication/redirect/facebook">
                    <img src="/Content/images/facebok64.png" />
                </a>
            </div>
            <div>
                <div>
                    Google
                </div>
                <a href="/authentication/redirect/google">
                    <img src="/Content/images/google64.png" />
                </a>
            </div>
            <div>
                <div>
                    GitHub
                </div>
                <a href="/authentication/redirect/github">
                    <img src="/Content/images/github64.png" />
                </a>
            </div>
        </div>
    </div>
</ng-template>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
<!--<link href="~/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">-->