<div *ngIf="gamerBoardGames">
    <h2>LISTA GIER GRACZA {{ gamerBoardGames.GamerNick }}</h2>

    <br />
    <ul>
        <li *ngFor="let gamerBoardGame of gamerBoardGames" (click)="onSelect(gamerBoardGame)">
            <span class="hidden">{{ gamerBoardGame.Id }}</span>
            <span>{{ gamerBoardGame.BoardGameName }}</span>
            <div *ngIf="isCurrentGamer">
                <button (click)="delete(gamerBoardGame); $event.stopPropagation()" class="btn delete-icon">x</button>
            </div>
        </li>
    </ul>
    <div *ngIf="isCurrentGamer">
        <button class="btn btn-primary" (click)="gotoAdd()">Dodaj nową grę</button>
    </div>
    <div *ngIf="selectedGamerBoardGame">
        <h2>
            <a href="https://boardgamegeek.com/boardgame/{{selectedGamerBoardGame.BGGId}}" target="_blank"><img src="{{selectedGamerBoardGame.ImageUrl}}" /></a>
        </h2>
        <button class="btn btn-primary" (click)="gotoDetail()">Szczegóły</button>
    </div>
</div>